.idea
BFF_KEYCLOAK_SPRING_VUE/.idea
BFF_KEYCLOAK_SPRING_VUE/keycloak_app/build
BFF_KEYCLOAK_SPRING_VUE/keycloak_app/.gitattributes
BFF_KEYCLOAK_SPRING_VUE/keycloak_app/.gradle
BFF_KEYCLOAK_SPRING_VUE/keycloak_app/gradle
BFF_KEYCLOAK_SPRING_VUE/vue-bff/node_modules
BFF_KEYCLOAK_SPRING_VUE/vue-bff/.vscode
BFF_KEYCLOAK_SPRING_VUE/vue-bff/dist
BFF_KEYCLOAK_SPRING_VUE/vue-bff/dist-ssr
BFF_KEYCLOAK_SPRING_VUE/vue-bff/.idea
BFF_KEYCLOAK_SPRING_VUE/vue-bff/.DS_Store

TODO_APP/todo_app/build
TODO_APP/todo_app/.gitattributes
TODO_APP/todo_app/.gradle
TODO_APP/todo_app/gradle
TODO_APP/frontend/node_modules
TODO_APP/frontend/.vscode
TODO_APP/frontend/dist
TODO_APP/frontend/dist-ssr
TODO_APP/frontend/.idea
TODO_APP/frontend/.DS_Store